@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

.auth-gradient {
  background: radial-gradient(circle at center, #1e293b 0%, #111621 100%);
}

.font-display {
  font-family: 'Inter', sans-serif;
}
